%h1 Audit Log Dashboard
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        \#
      %th
        Employee
      %th
        Week Starting
      %th
        Confirmed At
      %th
        Status
      %th
      %th
  %tbody#audit_logs
    = render @audit_logs
#paginator
  = paginate @audit_logs, remote: true