.container-fluid
  .row
    .pending-homepage.employee-blocks
      %h3
        Pending Your Confirmations
      = render partial: 'static/pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations }