%h1 Posts
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        Hours
      %th
        Date
      %th.hidden-xs
        Rationale
      %th
        Status
      %th
      %th
  %tbody#posts
    = render @posts
#paginator
  = paginate @posts, remote: true